name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]   # nombre exacto del workflow CI
    branches: [ dockerSaul ]
    types:
      - completed

jobs:
  docker-build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Debug workflow_run info
        run: |
          echo "Workflow name: ${{ github.event.workflow_run.workflow_id }}"
          echo "Branch: ${{ github.event.workflow_run.head_branch }}"
          echo "Conclusion: ${{ github.event.workflow_run.conclusion }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBPASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUBUSERNAME }}/palasaca-backend:latest
